<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회의실</title>
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>
       const ROOM_ID = "<%= roomId %>"
       const USER_ID = "<%= userId %>"
       const USER_NAME = "<%= userName %>"
    </script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>

<body>
    <div class="main">
        <div class="main__left">
            <div class="main__videos" id="main__videos">
               <div id="video-grid"></div>
            </div>
            <div class="main__controls">
                <div class="main__controls__block">
                   <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                     <div class="main__controls__button_icon">
                        <i class="fas fa-microphone fa-lg"></i>
                      </div> 
                     <span>Mic off</span>
                   </div>
                   <div onclick="playStop()" class="main__controls__button main__video_button">
                     <div class="main__controls__button_icon">
                        <i class="fas fa-video fa-lg"></i>
                      </div>
                      <span>Cam off</span>
                   </div>
                </div>
                <div class="main__controls__block">
                   <div class="main__controls__button">
                     <div class="main__controls__button_icon">
                        <i class="fas fa-door-open" style="color: red;"></i>
                      </div>
                      <span class="leave_meeting">EXIT</span>
                   </div>
                </div>
             </div>
        </div>
        <div class="main__right">
            <div class="dropdown">
               <button onclick="memberList()" class="dropbtn">Member List</button>
               <div id="memberList" class="dropdown__content">
               </div>
             </div>
            <div id = "chat">

            </div>
            <div class="main__message_container">
               <input id="chat_message" type="text" placeholder="메시지를 입력하세요"></input>
               <button class="main__message_button" onclick="send()">
                  <div class="main__controls__button_icon">
                     <i class="far fa-paper-plane"></i>
                  </div>
               </button>
            </div>
         </div>
      </div>
      <script src="script.js"></script>
</body>

</html>