body {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
}

.main__left {
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.main__right {
    flex: 0.3
}

.main__videos {
    flex-grow: 1;
    background-color: rgb(93, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

video {
    width: 300px;
    height: 300px;
    object-fit: cover;
    transform: rotateY(180deg);
}

.nameTag {
    font-weight: bold;
    text-align: center;
    background-color: #ffc31e;
    color: #000000;
}

.main__controls {
    background-color: #ffc31e;
    height: 60px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button_icon {
    font-size: 15px;
}

.main__controls__button:hover {
    background-color: #a07b17;
    border-radius: 5px;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

#chat {
    flex-grow: 1;
    overflow-y: auto;
}
  
/* 메시지 스타일링 시작*/
.system {
    width: 90%;
    margin: auto;
    color: red;
    margin-top: 10px;
}

.me {
    width: 90%;
    margin: auto;
    color: blue;
    margin-top: 10px;
}

.other {
    width: 90%;
    margin: auto;
    color: white;
    margin-top: 10px;
}
/* 메시지 스타일링 끝*/

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: white;
    border: none;
    color: black;
    border-radius: 0.5em; 
}

.main__message_button {
    color:#000; 
    background:#ffc31e;
    border-radius: 0.5em; 
    padding: 5px 20px;
}

.leave_meeting {
    color: red;
}

.unmute, .stop {
    color: #CC3B33;
}

.dropbtn {
    background-color:#ffc31e;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.5em;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #a07b17;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .dropdown__content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
  }
  
  .dropdown__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {display: block;}